body {
  background-image: url('../assets/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 10em;
}

.login-button {
  display: flex;
  justify-content: center;
  width: 5em;
  padding: .5em;
  margin-top: 2em;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
}

.signup-button {
  display: flex;
  justify-content: center;
  width: 5em;
  padding: .5em;
  margin-top: 2em;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

